<% @events.each do |v, event_list| %>
  <h1><%= link_to v.name, venue_path(v) %></h1>
    <% form_for [v, Event.new] do |f| %>
      <fieldset style='background: #ffffcc' class='largeText'>
      <%= text_field_tag 'event[start_time_text]', DateTime.now.to_s(:clean)%> TO
      <%= text_field_tag 'event[finish_time_text]',(DateTime.now + 1.hour).to_s(:clean)%>
      <%= f.hidden_field :festival_id, :value => @festival.id %>
      <%= f.text_field :title%>
      <%= f.submit "Add Event" %>
    </fieldset>
    <% end -%>

    <% form_for v, :url => {:action => 'bulk_edit'} do |venue_form| %>
      <fieldset>
        <% event_list.group_by {|e| e.start_time.to_date}.each do |start_date, events| %>
          <h2><%= start_date.to_s(:long) %></h2>
          <% events.each do |event| %>
            <% venue_form.fields_for "events[]", event do |event_edit| %>
              <%= event_edit.time_select :start_time, { :default => Time.now.change(:hour => 21), :simple_time_select => true, :minute_interval => 5, :time_separator => "" } %> TO 
              <%= event_edit.time_select :finish_time, { :default => Time.now.change(:hour => 21), :simple_time_select => true, :minute_interval => 5, :time_separator => "" } %>
              <%= event_edit.text_field :title, :size => 60, :style => 'font-size:16px'%>
              <%= link_to "(edit details)", edit_event_path(event) %>
              <%= link_to "(delete)", event_path(event), :method => :delete, :confirm => "Are you sure you want to delete #{event.title}?" %>
              <%= spacer %>
            <% end %>
          <% end %>

      <% end -%>
        <%= spacer %>
      <p>
        <%= venue_form.submit "Save Schedule Changes" %>
      </p>
      </fieldset>

  <% end %>
<% end %>
