<% title "MAPP: Mission Arts & Perfomance Project Schedule" %>


<% if @iphone %>
  <% turn_off_top_featured_section  %>
<% else %>
  <% content_for :head do %>
    <%= javascript_include_tag mapp_path(:format => 'js') %>
  <% end %>
  <% content_for :top_featured_section do %>
    <div id="map_canvas" border='1px solid #ddd'> </div>
  <% end %>
<% end %>

<% content_for :extra_logo do %><span class='sub'>/mapp</span><% end %>

<div class='center'>
  <h1 class='center' style='font-size:18px'>Welcome to the MAPP &mdash; <%= Festival.current_mapp.start_time.to_date.to_s(:long) rescue "[Unknown Date]"%></h1>
  <br/>
  <%= mapp_nav %>
</div>

<% unless @iphone %>
  <%= fb_like_button_for_page %>
<% else %>
  <%= spacer %>
<% end %>

<% if @editable%> 
  <%= link_to "#{icon_tag 'add', 16} Add Venue", new_venue_path %>
  <%= link_to "#{icon_tag 'add', 16} Add Event", new_event_path %>
  <%= spacer %>
<% end %>

  <% if params[:group] == 'now' %>
    <%= render :partial => 'events/event_list', :locals => {:events => @events} %>
  <% else %>
    <% cache "mapp/#{params[:group]}/#{@iphone==true}/#{@editable==true}" do %>
      <% if params[:group] == 'schedule' %>
        <%= render :partial => 'events/event_list', :locals => {:events => @events} %>
      <% elsif params[:group] == 'venues' %>
        <%= render :partial => 'mapp_venues' %>
      <% end %>
    <% end %>
  <% end %>

<%# this should not be cached; it's per-user %>
<% if params[:group] == 'starred' %>
  <% rounded_corners do %>
    <p class='big'>Bookmark interesting events by clicking the <%= icon_tag 'star',24 %> and they will show up on this page.</p>
  <% end %>
  <%= render :partial => 'events/event_list', :locals => {:events => @starred_events} %>
<% end %>


<% rounded_corners do %>
<p class='big' style='color:darkred'>MAPP brought to you by <%= link_to 'sfmapp.com', "http://sfmapp.com"%></p>
<p class='big' style='color:darkred'>Map of the MAPP brought to you by <%= link_to 'missionclick.com', root_path %></p>
  <%= render :partial => 'shared/invite_request_form' %> 
<% end -%>
