<% title "MAPP: Mission Arts & Perfomance Project" %>


<% if @iphone %>
  <% turn_off_top_featured_section  %>
<% else %>
  <% content_for :head do %>
    <%= javascript_include_tag mapp_path(:format => 'js') %>
  <% end %>
  <% content_for :top_featured_section do %>
    <div id="map_canvas" border='1px solid #ddd'> </div>
  <% end %>
<% end %>

<% content_for :extra_logo do %><span class='sub'>/mapp</span><% end %>

<div class='center'>
  <h1 class='center' style='font-size:18px'>Welcome to the MAPP &mdash; June 5, 2010</h1>
  <br/>
  <%= mapp_nav %>
</div>
<%= spacer %>

<% if @editable%>
  <%= link_to "#{icon_tag 'add', 16} Add Venue", new_venue_path %>
<% end %>

<div id='schedule_view' class='mapp_event_view' style='display:none'>
  <%= render :partial => 'events/event_list', :locals => {:events => @events} %>
</div>
<div id='hourly_view' class='mapp_event_view' style='display:none'>
  <%= render :partial => 'mapp_hourly' %>
</div>
<div id='venues_view' class='mapp_event_view' style='display:none'>
  <%= render :partial => 'mapp_venues' %>
</div>

<script type="text/javascript" language="javascript" charset="utf-8">
  //<![CDATA[
  $('<%= params[:group] %>_view').show();
//]]>
</script>
<p style='color:darkred'>MAPP brought to you by <%= link_to 'sfmapp.com', "http://sfmapp.com"%></p>
<p style='color:darkred'>Map of the MAPP brought to you by <%= link_to 'missionclick.com', root_path %></p>
