<img src="/images/skins/environmental/navi_left.jpg" alt="" />
<div id="tabs1" >
  <ul>
    <!-- CSS Tabs -->
    <%= link_to_tab 'Events', root_path %>

    <%= link_to_tab 'Venues', venues_path %> 
    <% if user_signed_in? %>
      <%= link_to_tab 'Your profile', edit_user_registration_path %> 

      <% if @facebook_session %> 
        <%= fb_sign_out_tab %>
      <% else %>
        <%= link_to_tab 'Sign out', destroy_user_session_path %>
      <% end %>
    <% else %>
      <%= link_to_tab 'Sign in or Sign up', new_user_session_path %>
    <% end %>
  </ul>
</div>
<img src="/images/skins/environmental/navi_right.jpg" alt="" />
