<div id="user_login_box"> 
<% if user_signed_in? -%>
    <% if facebook_session %>
      <%= image_tag current_user.fb_profile.pic_square_with_logo, :class => 'fb_profile_pic_small' %>
    <% end %>

    <h3>Hey, <%= current_user.name %></h3>
  </div>
  <%= spacer %>

  <div class='box'>
    <%= image_tag("handdrawn/48x48/user-admin.png", :class=>'icon') %>
    <div class='content'>
      <h3>Your Interests</h3>
      <p><%= current_user.fb_profile && current_user.fb_profile.interests %></p>
    </div>
<% else %>
  <div class="box">
  <h3>Howdy stranger</h3>
  <p><%= link_to "Sign up for free", new_user_session_path %> to get personalized event recommendations and subscribe to email and mobile alerts.</p>
  </div>
<% end %>
<div class='spacer'></div>
</div>
