<% rounded_corners do %>
  <% if events.blank? %>
    <p>Nothin yet, check back later...</p>
  <% else %>
  <ul class='eventListing flat'>
    <% events.each do |event| %>     
      <li>
        <span class='icon'><%= image_tag("handdrawn/32x32/hint.png") %></span>
        <span class='info'><h1><%= event.title%></h1>
          <strong class='time'><%= event.start_time.to_s(:short) %></strong>
          <% unless @venue -%>at <%= link_to event.venue, event.venue %><% end-%>
          <%= clear %>
          <p><%= event.description %></p>
        </span><span class='share'><%= fb_share_button(event_url(event)) %></span>
      </li>
    <% end %>
  </ul>
  <% end %>

<% end %>
