  <div id="left_sidebar">
    <%= render :partial => 'shared/user_signed_in_badge' %>

    <%= render :partial => 'shared/twitter_widget' %>

    <div class='box'>
      <div class='content'>
      <h3>Notifications</h3>
      <p>Don't be left out of the loop! Get notified of the coolest happenings!</p>
      <ul class='flat'>
      <li><%= image_tag("colorstroked/Rss.png", :class=>'small_icon') %> <a href="">Grab the feed</a></li>
      <li><%= image_tag("handdrawn/24x24/calendar.png", :class=>'small_icon') %> <a href="">Add to iCal</a></li>
      <li><%= image_tag("colorstroked/FaceBook.png", :class=>'small_icon') %> <a href="">Fan us on Facebook</a></li>
      <li><%= image_tag("colorstroked/Twitter.png", :class=>'small_icon') %> <a href="">Follow us on Twitter</a></li>
      </ul>
      </div>
    </div>
  </div>

  <div id="right_content">
    <%= render :partial => 'event_list' %>
  </div>
