<%# rounded_corners do %>
<% if events.blank? %>
  <p>Nothin yet, check back later...</p>
<% else %>
  <table class='eventListing'>
    <% events.each do |event| %>     
      <tr>
        <td class='info'>
          <strong class='time'>
            <% if @show_time_only %>
              <% if event.finish_time %>
                <%= event.start_time.strftime("%l:%M%p") %> &mdash;
                <%= event.finish_time.strftime("%l:%M%p") %>
              <% else %>
                <%= event.start_time.strftime("%l:%M%p") %>
              <% end %>
            <% else %>
              <%= event.start_time.strftime("%a %b %d, %l:%M%p") %>
            <% end -%>
          </strong>
          <%= render :partial => 'events/event_blurb', :locals => {:event => event} %>
        </td>
      <% unless @iphone %>
        <td class='share'>
          <%= fb_share_button(event_url(event)) %>
        </td>
      <% end %>
      </tr>
    <% end %>
  </table>
  <% end %>

<%# end %>
