<h1><%= link_to event.title, event_path(event) %></h1>
<% unless @venue || @hide_location_in_events -%>
  <% if event.venue.address %>
    at <%= link_to event.venue, event.venue %> 
  <% else %>
    from <%= link_to event.venue, event.venue %> 
  <% end %>
  <%= " &mdash; " + link_to(icon_tag('map',16) + ' ' + event.venue.address_with_hint, google_map_url(event.venue.full_address)) unless event.venue.address.blank? %>
<% end-%>
<%= clear %>
<p class='withSubheading'>
  <% if @show_full_description %>
    <%= event.description %>
  <% else %>
    <%= truncate strip_tags(event.description), :length => 100 %>
  <% end %>
</p>
<% if APP_CONFIG[:tags_enabled] %>
  <p><%= tag_icon(16) %> <span id="tags_<%=event.id%>"><%= render_tags event.tags %></span> <%= link_to_function "Edit", "showTagPopup(#{event.id})", :class => 'action' %></p>

  <div id='edit_tags_<%=event.id%>' style='display:none'>
  <% remote_form_for([event, Tagging.new]) do |f| %>
    <%= text_field_tag "tag_list", event.tags.join(", "), :id => "tag_editor_#{event.id}" %>
    <%= f.submit "Tag" %>
  <% end %>
  </div>
<% end %>
