<% if events.blank? %>
  <p>Nothin yet, check back later...</p>
<% else %>
  <table class='eventListing'>
    <% events.each do |event| %>     
      <tr>
        <td valign='top'><%= link_to_remote icon_tag("star",24, :id => "star_#{event.id}"), :url => toggle_star_event_path(event) %></td>
        <td class='info'>
          <strong class='time'>
            <% if @show_time_only %>
              <% if event.finish_time %>
                <%= event.start_time.strftime("%l:%M%p") %> &mdash;
                <%= event.finish_time.strftime("%l:%M%p") %>
              <% else %>
                <%= event.start_time.strftime("%l:%M%p") %>
              <% end %>
            <% else %>
              <%= event.start_time.strftime("%a %b %d, %l:%M%p") %>
            <% end -%>
          </strong>
          <%= render :partial => 'events/event_blurb', :locals => {:event => event} %>
        </td>
      <% unless @iphone %>
        <td class='share'>
          <%= fb_share_button(event_url(event)) %>
          <% if @editable %>
            <br/><%= link_to "#{icon_tag 'notepad', 16} Edit", edit_event_path(event) %>
            <br/><%= link_to "#{icon_tag 'remove', 16} Delete", event_path(event), :method => 'delete', :confirm => "Are you sure you want to delete '#{event}'?" %>
          <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
  </table>
  <% end %>

