<h1>Editing event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= check_box_tag 'event[mapp]', 1, @event.festival == Festival.current_mapp  %> <%= label_tag :mapp, "This is a MAPP Event" %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time, :value => @event.start_time.to_s(:clean) %>
  </p>
  <p>
    <%= f.label :finish_time %><br />
    <%= f.text_field :finish_time, :value => @event.finish_time.to_s(:clean)  %>
  </p>
  <p>
    OR <%= check_box_tag :no_finish_time, 1, @event.finish_time.nil? %> <label for='no_finish_time'>This event has no known finish time.</label>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<ul class='flat'>
  <%= render :partial => 'event_nav' %>
</ul>
