<h1>New event</h1>
<%= spacer %>
<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <strong><%= f.label :venue %></strong><br />
    <%= f.collection_select :venue_id, Venue.all, :id, :name %>

  <%= link_to "#{icon_tag 'add', 16} Add Another Venue", new_venue_path %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= check_box_tag 'event[mapp]' %> <%= label_tag "MAPP", :mapp %>
  </p>
  <p>
    <%= f.label :start_time %>(ex: "Aug 7 10pm")<br />
    <%= f.text_field :start_time %>
  </p>
  <p>
    <%= f.label :finish_time %><br />
    <%= f.text_field :finish_time %>
  </p>
  <p>
    OR <%= check_box_tag :no_finish_time %> <label for='no_finish_time'>This event has no known finish time.</label>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>
