<p>
  <b>Title:</b>
  <%=h @event.title %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location %>
</p>

<p>
  <b>Start time:</b>
  <%=h @event.start_time %>
</p>

<p>
  <b>Finish time:</b>
  <%=h @event.finish_time %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>