<h1><%=h @event.title %></h1>
<p><%= h @event.description %></p>
<p> <b>Starts At:</b> <%=h @event.start_time.to_s(:short) %> </p>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
