<h1><%=h @event.title %></h1>
<p>at <%= link_to @event.venue, venue_path(@event.venue) %></p>
<p><b>Description:</b> <%= h @event.description %></p>
<p> <b>Starts</b> <%=h @event.start_time.to_s(:long) %> </p>
<p> <b>Ends</b> <%=h @event.finish_time && @event.finish_time.to_s(:long) || "Later"%> </p>

<% if @editable %>
  <%= link_to 'Edit Event Details', edit_event_path(@event) %>
<% end %>

