<h1><%=h @event.title %></h1>
<p>at <%= link_to @event.venue, venue_path(@event.venue) %></p>
<p><b>Description:</b> <%= h @event.description %></p>
<p> <b>Starts</b> <%=h @event.start_time.to_s(:long) %> </p>
<p> <b>Ends</b> <%=h @event.finish_time && @event.finish_time.to_s(:long) || "Later"%> </p>

<% if @editable %>
  <p><%= link_to 'Edit Event Details', edit_event_path(@event) %></p>
<% end %>
<p>
<% if MappParticipant.exists?(:venue_id => @event.venue_id) %>
  <%= link_to "Back to MAPP", params[:return_to] || mapp_path %>
<% else %>
  <%= link_to "Back to Events", params[:return_to] || events_path %>
<% end %>
</p>
