<h1>Venues</h1>

<ul class='flat big'>
<% @venues.each do |venue| %>
  <li><%=link_to venue.name, venue %> 
    <% if venue.events.today.size > 0 %>
      <span class='event_today_notice'><%= pluralize venue.events.today.count, 'event', 'events' %> today</span>
    <% elsif venue.events.tomorrow.size > 0 %>
      <span class='event_tomorrow_notice'><%= pluralize venue.events.tomorrow.count, 'event', 'events' %> tomorrow </span>
    <% end %>
  </li>
<% end %>
</ul>

<%= spacer %>

<% site_admin_content do %>
  <p><%= link_to '+ New venue', new_venue_path %></p>
<% end %>
