<h1>Venues</h1>

<table>
  <thead>
    <th>Venue</th>
    <th>iCal Feed</th>
  </thead>
<% @venues.each do |venue| %>
  <tr>
    <td><%=link_to venue.name, venue %></td>
    <td><%=link_to truncate(venue.ical_feed_url, 50) %></td>
    <td><%= link_to 'Destroy', venue, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New venue', new_venue_path %>
