<% title @venue %>

<% content_for(:notice) do %>
  <div class='flash flash_notice'> 
    Is this your venue? <%= link_to 'Claim it' %> to get your own domain at <strong><%= @venue.name.parameterize %>.<%= request.host %></strong> and customize this page! 
  </div>
<% end %>

<h1><%= @venue %></h1>
<% editor_content(@venue) do %>
  <div class='rightBox'>
    <%= link_to "#{settings_icon} Edit", edit_venue_path(@venue) %> <%= link_to "#{delete_icon} Delete", @venue, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>
<ul class='flat'>
  <li><%= @venue.address %></li>
  <li><%= link_to "iCal Feed", @venue.ical_feed_url %></li>

</ul>

<% unless @venue.twitter_username.blank? %>
  <%= spacer %>
  <%= render :partial => 'user_twitter_widget', :locals => {:username => @venue.twitter_username} %>
<% end %>

<% unless @venue.facebook_fan_page.blank? %>
  <%= render :partial => 'facebook_page_widget', :locals => {:facebook_page_id => @venue.facebook_page_id} %>
<% end %>

<%= spacer %>

<%= render :partial => 'home/event_list_by_day' %>
