<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'skins/environmental' %>

    <!-- REQUIRED: Include Facebook Javascript (with current locale). See Facebooker documentation. -->
    <%= fb_connect_javascript_tag(:lang => ::I18n.locale) %>

    <!-- REQUIRED: Include devise_facebook_connectable Javascripts. -->
    <%= javascript_include_tag :defaults, 'devise.facebook_connectable', 'yelp_gmap', :cache => true %>
    
    <!-- gmaps -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
       
    <%= yield(:head) %>
  </head>
  <body> 
    <%= init_fb_connect :XFBML, :js => :prototype %>

  <div id="dvmaincontainer">
    <div id="dvtopcontainer">
      <div id="dvlogocontainer">
        <h1>The Mission Daily</h1>
        <h4>The best of the SF Mission</h4>
      </div>
      <div id="dvnavicontainer">
        <img src="/images/skins/environmental/navi_left.jpg" alt="" />
        <div id="tabs1" >
          <ul>
            <!-- CSS Tabs -->
            <li id="current"><a href="#"><span>Home</span></a></li>
            <li><a href="#"><span>Today</span></a></li>
            <li><a href="#"><span>Tomorrow</span></a></li>
            <li><a href="#"><span>About Us</span></a></li>
          </ul>
        </div>
        <img src="/images/skins/environmental/navi_right.jpg" alt="" />
      </div>
    </div><%# topcontainer %>
  <div id="dvbodycontainer">
    <div id="dvbannerbgcontainer">
      <div class="lftcontainer">
        <div class="dvbannerleft">
          <img src="/images/handdrawn/48x48/favourites.png"  alt="" title=""/>
          <p><b>Cool Events</b> Find the best places to hang out in the Mission.</p>
        </div>
        <div class="dvbannerleft">
          <img src="/images/handdrawn/48x48/hint.png"  alt="" title=""/>
          <p><b>Groovy Music</b> Jazz, Indie, Rock, Classical, only the best.</p>
        </div>
        <div class="dvbannerleft">
          <img src="/images/handdrawn/48x48/picture.png"  alt="" title=""/>
          <p><b>Art Stuffs</b> The most interesting art events in the neighborhood.</p>
        </div>
      </div>
      <div id="dvbanner">
        <div id="map_canvas" border='1px solid #ddd' style="width:529px; height:191px"></div>
      </div>
    </div><%# dvbannerbgcontainer %>
    <div id="dvleftpanel">

      <div id="user_login_box"> 
      <% if user_signed_in? -%>

          <% if @facebook_session %>
              <%= fb_profile_pic current_user, :size => :square, :facebook_logo => true, :class => 'profile_pic' %>
          <% end %>
          <h2>Hey, <%= current_user.fb_profile.first_name %></h2>
          <%= link_to 'Your profile', edit_user_registration_path %> |

          <% if @facebook_session %> 
            <%= facebook_sign_out_link :user %>
          <% else %>
            <%= link_to 'Sign out', destroy_user_session_path %>
          <% end %>
      <% elsif admin_signed_in? -%>
          <%= current_admin.email %> |
          <%= link_to 'Admin section', admins_path %> |
          <%= link_to 'Sign out', destroy_admin_session_path %>
      <% else %>
        <% unless user_signed_in? -%>
           <%= link_to 'Sign up', new_user_registration_path %> | <%= link_to 'Sign in', new_user_session_path %>
           <%= facebook_sign_in_link :user %>
        <% end -%>
      <% end %>
      </div>
      <!-- left pannel div starts here-->
      <div id="topimage">
        <!-- top left div starts here-->
       FEATURED HAPPENINGS
        <!--<img src="/images/skins/environmental/client.jpg" alt="Client Testimonials" width="274" height="34" title="Client Testimonials" /> -->
        <!-- top left div end here-->
      </div>
      <div id="midcont">
        <!-- left body div starts here-->
        <p>"Best services ever! I'd be lost without your company. Your company was great to work with and we look forward to dealing with you in the future. </p>
        <p>I would recommend your great services to anyone. I appreciate all your help and your passion for the environment."</p>
        <!-- left body div ends here-->
      </div>
      <!-- left pannel div ends here-->
    </div>
    <div id="dvrightpanel">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>



      <%= yield %>

      <div id="righttfoot"> <img src="/images/skins/environmental/home_icon.jpg" alt="" title="" />
        <p>We are great to work with on projects.</p>
        <img src="/images/skins/environmental/light.jpg" alt="" title="" />
        <p>We have great ideas that will benefit you.</p>
        <img src="/images/skins/environmental/rpt.jpg" alt="" title="" />
        <p>We care about the environment a lot.</p>
      </div>

      <!-- right panel div ends here-->
    </div>
    <!-- body div ends here-->
  </div>
  <div id="dvfootercontainer">
    <!-- footer div starts here-->
    <div id="foottop">
      <p><span>Copyright © 2008 Your Company Name</span> <a href="#" title="Home">Home</a><a href="#" title="Services">Services</a><a href="#" title="Portfolio">Portfolio</a><a href="#" title="Blog">Blog</a><a href="http://www.studio7designs.com">Eco Web Design by Studio7designs</a></p>
      <div class="design"> <a href="#"><img src="/images/skins/environmental/studio.jpg" alt="Studio7designs" border="0" title="Studio7designs" /></a> </div>
    </div>
    <!-- footer div ends here-->
  </div>
  <!--main div container ends here-->
</div>
  </body>
</html>
