<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title><%= yield(:title) || "Your Guide to The SF Mission" %> | MissionClick</title>

    <%= stylesheet_link_merged :base %>
    <%= javascript_include_merged :base %>

    <% if @iphone %><link type="text/css" rel="stylesheet" href="/stylesheets/iphone.css"><% end %>
    <% unless @iphone %><%= fb_connect_javascript_tag(:lang => ::I18n.locale) %><% end %>
    <%= yield(:head) %>

    <meta name="viewport" content="width=480; initial-scale=0.66, user-scalable=no" />

    <% unless @iphone %>
      <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <% end %>
  </head>
  <body> 
    <%= init_fb_connect :XFBML, :js => :prototype %>

    <div id="body_container">
      <div id="top_container">
        <div id="logo_container">
          <h1><%= link_to "mission<span>click</span>", root_path %><%= yield(:extra_logo) %></h1>
        </div>
        <div id="nav_container">
          <%#= render :partial => 'shared/navigation' %>
        </div>
      </div>

      <div id="main_content_container">
        <div id="top_featured_section">
          <%= yield(:top_featured_section) || render(:partial => 'shared/top_featured_section') %>
        </div>
      
        <%= clear %>
        <%= render_notices %>
        <%= yield(:notice) %>

        <div id='content_container'>
          <%= yield %> <%# render the main content %>
        </div>
      </div>

      <div id="footer_container">
        <div id="footer">
          <p><span>Copyright © 2010 missionclick.com => contact AT missionclick DOT com</span> 
        </div>
      </div>
    </div>

      <% if @iphone %>
          <script type="text/javascript" language="javascript" charset="utf-8">
          //<![CDATA[
          document.observe('dom:loaded', function() {
              window.scrollTo(0,1);
              });
          //]]>
        </script>  
      <% end %>
      
     
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16711914-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      
  </body>
</html>
